.project-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    width: 96%;
    min-height: 30px;
    padding: 15px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(9 30 66 / 25%) 0 1px 2px 0;
    transition: background 0.1s ease 0s;
    cursor: pointer;
    user-select: none;
}
.project-item:hover{
    background: rgb(235, 236, 240);
}
.project-item-content{
    width: 85%;
}
.project-title{
    font-size: 24px;
    color: #101010;
}
.project-del-button{
   margin: 20px;
    cursor: pointer;

}

