.task-page-wrapper{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, 0.5);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    z-index: 1002;
}
.task-page-wrapper.show-task-page{
    opacity: 1;
    pointer-events: visible;
}

.task-page{
    display: flex;
    flex-direction: column;
    position: relative;
    width:70%;
    height: 70%;
    background-color: #ffffff;
}
.task-page__header{
    display: flex;
    flex-direction: row;
    height: 66px;
    -webkit-box-align: center;
    align-items: center;
}
.task-page__header-buttons{
    position: relative;
    margin-left: auto;
    right: 50px;
}

.task-page-close{

}
.task-page-trash-bin{
    position: relative;
    right: 45px;
    cursor: pointer;
}
.task-page__header-title{
    position: relative;
    padding-left: 25px;
}

.task-page-close:before, .task-page-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.task-page-close:before {
    transform: rotate(45deg);
}
.task-page-close:after {
    transform: rotate(-45deg);
}