.create-project-modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, 0.5);
    opacity: 0;
    transition: all 0.4s ease-in-out;
    pointer-events: none;

}

.create-project-modal.show{
    opacity: 1;
    pointer-events: visible;
}

.create-project-modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 15px;
}
.create-project-modal-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-project-modal-close-button{
    position: relative;
    top: -250px;
    right:-290px;
}