.kebab{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    right: auto;


}
.kebab:hover{
    border-radius: 50%;
    background-color: rgb(0%, 0%, 0%, 0.09);

}

.kebab-dot{
    width: 5px;
    height: 5px;
    margin: 2px;
    border-radius: 50%;
    background-color: #101010;
}
.kebab-elements{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 70px;
}